<div id='navButtons'>
  <div class='navButtons'>
    @Html.ActionLink("Add a new Stylist", "Create", "Stylists")
  </div>
  <div class='navButtons'>
    @Html.ActionLink("View all stylists", "Index", "Stylists")
  </div>
  <div class='navButtons'>
    @Html.ActionLink("Add new Client", "Create", "Clients")
  </div>
  <div class='navButtons'>
    @Html.ActionLink("Back Home", "Index", "Home")
  </div>
</div>
