<div id='navButtons'>
  @Html.ActionLink("Add a new Stylist", "Create", "Stylists")
  <br>
  @Html.ActionLink("View all stylists", "Index", "Stylists")
  <br>
  @Html.ActionLink("Add new Client", "Create", "Clients")
  <br>
  @Html.ActionLink("Back Home", "Index", "Home")
</div>
