<div id='navButtons'>
  <div class='navButtons'>
    <button>@Html.ActionLink("Add a new Stylist", "Create", "Stylists")</button>
  </div>
  <div class='navButtons'>
    <button>@Html.ActionLink("View all stylists", "Index", "Stylists")</button>
  </div>
  <div class='navButtons'>
    <button>@Html.ActionLink("Add new Client", "Create", "Clients")</button>
  </div>
  <div class='navButtons'>
    <button>@Html.ActionLink("Back Home", "Index", "Home")</button>
  </div>
</div>
