@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist

<h1>Add a new Stylist</h1>
<div class="form-control">
  @using (Html.BeginForm())
  {
    <p>Enter your Stylist's Name:</p>
    @Html.TextBoxFor(model => model.StylistName)
    <br>
    <input type='submit' value='Add this Stylist'>
  }
</div>
