@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist

<h1>Add a new Stylist</h1>
<hr>
<div class="form-control">
  @using (Html.BeginForm())
  {
    <h3>Stylist's Name:</h3>
    @Html.TextBoxFor(model => model.StylistName)
    <hr>
    <input type='submit' value='Add this Stylist'>
  }
</div>
