@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h1>@Html.DisplayFor(model => model.StylistName)'s Clients</h1>
<hr>
@if (@Model.Clients.Count == 0)
{
  <h3>No Clients added for this Stylist =(</h3>
}
else
{
  <ul>
  @foreach (Client item in Model.Clients)
  {
    <li>@Html.ActionLink($"{item.ClientName}", "Details", "Clients", new { clientId = item.ClientId })</li>
  }
  </ul>
}
<hr>
<div class = 'navButtons'>
  @Html.ActionLink("Add a client for this Stylist", "Create", "Clients", new { stylistId = Model.StylistId})
</div>
