@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client;


@if (ViewBag.Bool == false)
{
  <h1>Please Add a Stylist First</h1>
}
else
{
  <h2><span class='br'>Add a new Client</span></h2>
  <hr>
  <div class="form-control">
    @using (Html.BeginForm())
    {
      <h3>Client Name:</h3>
      @Html.TextBoxFor(model => model.ClientName)
      <br>
      <h3>Hair Type:</h3>
      @Html.TextBoxFor(model => model.HairType, new {placeholder = "ex wavy"})
      <br>
      <h3>Stylist:</h3>
      @Html.DropDownList("StylistId")
      <hr>
      <input type="submit" value="Add client">
    }
  </div>
}
