@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client;


@if (ViewBag.Bool == false)
{
  <h1>Please Add a Stylist First</h1>
}
else
{
  <h2>Add a new Client</h2>

  @using (Html.BeginForm())
  {
    <h1>Client Name:</h1>
    @Html.TextBoxFor(model => model.ClientName)

    <p>Stylist:</p>
    @Html.DropDownList("StylistId")
    <br>
    <input type="submit" value="Add client">
  }
}
