@{
  Layout = "_Layout";
}
@using System.Reflection;
<h1>Details for @Model.Stylist.StylistName's Client</h1>
<hr>
<ul>
@foreach (PropertyInfo p in ViewBag.Properties)
{
  if(p.PropertyType.Name == "String")
  {
  <li>@p.Name: @p.GetValue(Model, null)</li>
  }
}
</ul>
